@keyframes fadeInUp {
    from {
        transform: translateY(2rem);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        transform: translatex(10rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    font-size: 20px;
    line-height: 2rem;
    text-align: justify;
    width: 100%;
    height: 100vh;
    margin-top: 4rem;

    &>p {
        width: 75%;
        animation: fadeInUp 1s ease-out 800ms backwards;
    }
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.image {
    width: 20rem;
    border-radius: 50%;
    animation: reveal 1s ease-out 200ms backwards;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 60%;
    margin-left: 3rem;
}

.contactCV,
.contactMail,
.contactSocial {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.contactCV,
.contactMail {
    margin-bottom: 1rem;
}

.contactCV {
    animation: fadeIn 800ms ease-in-out 1400ms backwards;
}

.contactMail {
    animation: fadeIn 800ms ease-in-out 1800ms backwards;
}

.contactSocial {
    animation: fadeIn 800ms ease-in-out 2200ms backwards;
}

.icon {
    width: 20px;
    height: 20px;
    color: #fff;
    margin-right: 1rem;
}

@media all and (max-height: 1024px) {

    .view {
        font-size: 18px;
        margin-bottom: 10%;
    }

    .image {
        width: 14rem;
    }

    .links {
        font-size: 18px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1720px) {
    .view {
        line-height: 1.6rem;
        margin-left: 8rem;

        &>p {
            color: #000;
        }
    }

    .container {
        color: #000;
        margin-left: 2rem;
    }

    .image {
        width: 12rem;
    }

    .contactCV,
    .contactSocial,
    .contactMail,
    .icon {
        color: #000;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .view {
        position: fixed;
        line-height: 1.6rem;
        font-size: 16px;
        margin: 0;
        padding: 0 8rem;

        &>p {
            color: #000;
            width: 100%;
        }
    }

    .container {
        color: #000;
        margin-left: 1rem;
        margin-top: -3rem;

    }

    .image {
        width: 11rem;
    }

    .contactCV,
    .contactSocial,
    .contactMail,
    .icon {
        color: #000;
        font-size: 16px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .view {
        position: fixed;
        line-height: 1.6rem;
        font-size: 16px;
        padding: 0 6rem;
        margin: 0;


        &>p {
            color: #000;
            width: 100%;
        }
    }

    .container {
        color: #000;
    }

    .image {
        width: 8rem;
    }

    .links {
        margin-left: 2rem;
    }

    .contactCV,
    .contactSocial,
    .contactMail,
    .icon {
        color: #000;
        font-size: 16px;
    }
}

@media all and (max-width: 480px) {
    .view {
        position: fixed;
        line-height: 1.1rem;
        padding: 0 2rem;
        font-size: 14px;
        margin: 0;

        &>p {
            color: #000;
            width: 100%;
        }
    }

    .container {
        color: #000;
    }

    .image {
        width: 8rem;
    }

    .links {

        margin-left: 2rem;
    }

    .contactCV,
    .contactSocial,
    .contactMail,
    .icon {
        color: #000;
        font-size: 14px;
    }
}