@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes bubble {

    0%,
    100% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(15px);
    }
}

.view {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1500ms ease backwards;
}

.container1,
.container2,
.container3,
.container4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 25rem;
    height: 25rem;
    border-radius: 0.5rem;
    background-image: url('../public/prod/ouioui.png');
    background-position: top;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    margin: 2rem;
}

.container1:hover {
    background-image: url('../public/prod/ouioui2.png');
    transition: 1s;
}

.container2 {
    background-image: url('../public/prod/popcorn.png');
}

.container2:hover {
    background-image: url('../public/prod/popcorn2.png');
    transition: 1s;
}

.container3 {
    background-image: url('../public/prod/touittaire.png');
}

.container3:hover {
    background-image: url('../public/prod/touittaire2.png');
    transition: 1s;
}

.container4 {
    background-image: url('../public/prod/buddy.png');
}

.container4:hover {
    background-image: url('../public/prod/buddy2.png');
    transition: 1s;
}

.view>.container1 {
    animation: bubble 8s ease-in-out infinite;
}

.view>.container2 {
    animation: bubble 10s ease-in-out infinite;
}

.view>.container3 {
    animation: bubble 12s ease-in-out infinite;
}

.view>.container4 {
    animation: bubble 7s ease-in-out infinite;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 18px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
}

.container1:hover>.description {
    transform: translateY(0px);
    opacity: 1;
}

.container2:hover>.description {
    transform: translateY(0px);
    opacity: 1;
}

.container3:hover>.description {
    transform: translateY(0px);
    opacity: 1;
}

.container4:hover>.description {
    transform: translateY(0px);
    opacity: 1;
}

.button {
    width: 100%;
    margin: 0 1rem 1rem 1rem;
}

.button>a {
    margin: 0 1rem;
}

.button>a:hover {
    font-weight: 600;
}

.button>a:-webkit-any-link {
    color: #FB4A5F;
    text-decoration: none;
}