@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes bubble {

    0%,
    100% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(15px);
    }
}

.view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-right: 6rem;
    animation: fadeIn 1500ms ease backwards;

    &>.container1 {
        animation: bubble 8s ease-in-out infinite;
    }

    &>.container2 {
        animation: bubble 10s ease-in-out infinite;
    }

    &>.container3 {
        animation: bubble 12s ease-in-out infinite;
    }

    &>.container4 {
        animation: bubble 7s ease-in-out infinite;
    }
}

.container1,
.container2,
.container3,
.container4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 20rem;
    height: 20rem;
    border-radius: 0.5rem;
    background-image: url('../public/prod/ouioui.png');
    background-size: cover;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    margin: 4rem;
}

.container1 {
    &:hover {
        background-image: url('../public/prod/ouioui2.png');
        transition: 1s;

        &>.description {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.container2 {
    background-image: url('../public/prod/popcorn.png');

    &:hover {
        background-image: url('../public/prod/popcorn2.png');
        transition: 1s;

        &>.description {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.container3 {
    background-image: url('../public/prod/touittaire.png');

    &:hover {
        background-image: url('../public/prod/touittaire2.png');
        transition: 1s;

        &>.description {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.container4 {
    background-image: url('../public/prod/buddy.png');

    &:hover {
        background-image: url('../public/prod/buddy2.png');
        transition: 1s;

        &>.description {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 18px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
}

.button {
    width: 100%;
    margin: 0 1rem 1rem 1rem;

    &>a {
        margin: 0 1rem;

        &:hover {
            font-weight: 600;
        }

        &:-webkit-any-link {
            color: #fb4a5f;
            text-decoration: none;
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1720px) {
    .view {
        column-gap: 0;
        row-gap: 0;
        scale: 0.8;
    }

}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .view {
        column-gap: 0;
        row-gap: 0;
        margin-right: 0;
    }
    
    .container1,
    .container2,
    .container3,
    .container4 {
        width: 14rem;
        height: 14rem;
        background-size: cover;
    }
    
    .container1,
    .container3 {
        margin-right: auto;
    }
    
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .view {
        column-gap: 0px;
        row-gap: 0px;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        width: 14rem;
        height: 14rem;
        background-size: cover;
    }
    
    .container1,
    .container3 {
    margin-right: auto;
}

}

@media all and (max-width: 480px) {
    .view {
        column-gap: 0px;
        row-gap: 0px;

    }

    .container1,
    .container2,
    .container3,
    .container4 {
        width: 14rem;
        height: 14rem;
        background-size: cover;
    }
    
    .container1,
    .container3 {
    margin-right: auto;
}

}

@media all and (max-height: 1024px) {
    .view {
        scale: 0.8;
    }

}

@media all and (max-height: 720px) {
    .view {
        scale: 0.6;
        margin-right: 0;
    }

}